/*-------------------------------------------------
PAGE BODY
-------------------------------------------------*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
		font-size: small; line-height: 1.5em;
	color: #000;
  background: #fff;
  width: 700px;
	margin-left: auto;
	margin-right: auto;
}

/* Make sure the table cells show the right font */
td { font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; }


/*-------------------------------------------------
GLOBALS & GENERAL CASES
-------------------------------------------------*/

a {text-decoration: underline; padding: 1px; }
a:link { color: #006600; }
a:visited { color: #006600; }
a:hover { color: #ccc; background-color: #fff; text-decoration: none; }
a img { border: 0; }

ins {
	background-color: #cfc;
	text-decoration: none;
}

del {
	color: #999;
}

code, pre	{
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	background: inherit;
	color: #333;
	font-size: 80%
}

	/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size : 105%; 
}

.smaller {
	font-size: smaller;
}

.pagenote {
	color: #666;
}

.error {
	font-size: 70%;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
 	background: #FBE6F2;
 	border: 1px solid #D893A1;
 	color: #333;
	padding: 2px;
	padding-left: 5px;
}

.missingpage {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-color: #063;
	border-bottom-style: dashed;
}

/* text formatting */
h1 {
	font-size: 18pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}

h5 {
	font-size: 10pt;
}

h6 {
	font-size: 8pt;
}

/*-------------------------------------------------
STRUCTURE
-------------------------------------------------*/

.ClearAll {
	padding: 0px;
	clear: both;
	font-size: 0px;
	}


/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header {
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

#header a {
	color: #006600;
}

#header .pagenavigation {
	padding-left: 5px;
	padding-right: 5px;
	
}

/*-------------------------------------------------
BODY
-------------------------------------------------*/

#page {
  color: #000;
  padding: 0 5px 50px 5px;
  text-align: justify;
	/* border: 1px solid #eeeeee; */
	border-bottom: 1px solid #ccc;
}

.wiki_syntax_table {
	border-collapse: collapse;
}

.wiki_syntax_table th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
}
.wiki_syntax_table td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
}

/*-------------------------------------------------
FOOTER
-------------------------------------------------*/

#footer {
	clear: both;
	font-size: x-small;
	text-align: right;
	/*background-color: #EEEEEE;*/
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#footer .smallprint {
	color: #ccc; 
}

#footer .smallprint a {
	color: #ccc; 
}

/*-------------------------------------------------
FORM ELEMENTS
-------------------------------------------------*/

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;	
}

fieldset legend {
	font-size: 115%;
	color: #666;
	padding:2px;
}

textarea {
	border: 1px solid #CCC;	
}

textarea:hover {
	background-color: #F3F3F3;
}

textarea:focus {
	background-color: #E6E6E6;
}

input:hover {
	background-color: #F3F3F3;
}

input:focus {
	background-color: #E6E6E6;
}

input[type=submit], input[type=button] {
	color: #666;
	background-color: #EEE;
	font: normal 95% Verdana, sans-serif;
	text-align: center;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: .1em .2em;
}

input[type=submit]:hover, input[type=button]:hover {
	color: #333;
	background-color: #DDD;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

input[type=text] {
	border: 1px solid #CCC;	
}

textarea#body{
	width: 100%;
	height: 400px;
	padding: 2px;
}

.searchbox {
	/* border: none; */
	border: 1px solid #CCCCAA;
	padding: 0px;
	margin: 0px;
}


